@page
@using Microsoft.Extensions.Localization
@using Gsx.BambuLabPrinter.Localization
@using Gsx.BambuLabPrinter.Web.Pages.BambuLabPrinter
@model Gsx.BambuLabPrinter.Web.Pages.BambuLabPrinter.IndexModel
@inject IStringLocalizer<BambuLabPrinterResource> L

@{
}
<h1>BambuLabPrinter</h1>
<p>@L["SamplePageMessage"]</p>
