@page
@using Microsoft.Extensions.Localization
@using Gsx.BambuLabPrinter.Notification.Localization
@using Gsx.BambuLabPrinter.Notification.Web.Pages.Notification
@model Gsx.BambuLabPrinter.Notification.Web.Pages.Notification.IndexModel
@inject IStringLocalizer<BambuLabPrinterNotificationResource> L

@{
}
<h1>Notification</h1>
<p>@L["SamplePageMessage"]</p>
