@page "/Notification"
@using Microsoft.Extensions.Localization
@using global::Gsx.BambuLabPrinter.Notification.Localization
@inject IStringLocalizer<BambuLabPrinterNotificationResource> L
@{
}
<h1>Notification</h1>
<p>@L["SamplePageMessage"]</p>